
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */